.wrapper.style1{
    background-image: url('images/bannerCover.jpg') !important;
    background-size:cover;
    background-color: #3b5998;
}

#sidebar{
    background:black;
}

#one {
    background-image: url('images/bannerCover.jpg');
    background-size:cover;
}

#two{
    background-image: url('images/bannerCover.jpg');
    background-size:cover;
}

#three{
    background-image: url('images/bannerCover.jpg');
    background-size:cover;
}
